body{
  background-color: aqua;
}
h1{
  text-align: end;
  margin-right: 20px;
  margin-top: 20px;
}
p{
  margin-left: 20px;
  font-size: 30px;
}
form{
  width: 30%;
  margin-left: 20px;
}
#label{
  width: 70%;
  height: 60px;
}
#label-one{
  width: 70%;
}

